<div style="text-align: center; margin-top: 20px">
    <h1>Prizes Project API</h1>
    <legend>by Maxime THEVENEAU</legend>
    <br><br><br><br>
    <div style="width: 50%; margin: 0 auto; font-size: x-large ; font-family: 'Arial'; font-weight: bold; text-align: justify; text-justify: inter-word;">
        This project consists of the creation of a REST API
        from a JSON file containing Nobel Prizes and laureates
        during my 2nd year in IT BUT at the University of Belfort-Montbéliard.
    </div>
    <br><br><br><br>
    <h5>Go to <a href="/api-docs">api-docs</a> to swagger documentation of this API</h5>
</div>