<div style="text-align: center">
    <img src="https://media.giphy.com/avatars/404academy/kGwR3uDrUKPI.gif" style="width: 40%">
    <h5 style="white-space: pre-line; color: red">{{error.message}}</h5>
</div>